<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente Menú Multinivel con JsNode</title>    
    <script src="../jsnode.js"></script>    
    <script src="jsnode-menu.js"></script>
    <script>
        JsNode.domLoaded().then(() => {
            const menu1 = new JsNodeMenu('#multi-level-menu', {
                menu: /*html*/`
                    <ul>
                        <li><a href="#">Home</a>
                            <ul>
                                <li><a href="#">About Us ></a>
                                    <ul>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Mission</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Services ></a>
                                    <ul>
                                        <li><a href="#">Web Design</a></li>
                                        <li><a href="#">Development</a></li>
                                        <li><a href="#">SEO</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Contact ></a>
                                    <ul>
                                        <li><a href="#">Alicante ></a>
                                            <ul>
                                                <li><a href="#">Capital</a></li>
                                                <li><a href="#">Elche</a></li>
                                                <li><a href="#">Alcoy ></a>
                                                    <ul>
                                                        <li><a href="#">Centro</a></li>
                                                        <li><a href="#">Norte</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Valencia</a></li>
                                        <li><a href="#">Castellón ></a>
                                            <ul>
                                                <li><a href="#">Norte</a></li>
                                                <li><a href="#">Centro</a></li>
                                                <li><a href="#">Sur</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                `            
            });
        });
    </script>
</head>

<body>    
    <div style="display: flex; gap: 1rem;">
        <nav id="multi-level-menu"></nav>
        <p style="flex-basis: 75%;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus a quo accusantium eos officia repudiandae repellat corrupti quia impedit qui ducimus aliquid, est totam aspernatur dolor, illo ad magnam non rerum odit iusto? Vitae cumque sequi quia molestiae nam minus ad sunt unde placeat inventore optio dolorem, dolor, aperiam dolores pariatur, dicta cum sit! Quo quas sunt facere, sapiente id assumenda fugit? Accusantium ducimus, fugiat debitis temporibus, sit ea porro architecto corrupti adipisci perferendis suscipit! Similique, cum vitae assumenda corrupti maiores, ipsum doloribus labore perferendis at id eos repellat magnam dicta quod rem perspiciatis facere nihil voluptas. Ipsam fuga, qui voluptatibus odit, optio quas perferendis debitis beatae asperiores deleniti suscipit voluptates, facere natus nesciunt? Distinctio tempore laudantium ipsum a dolores sequi ratione, ut nam laboriosam quia, inventore maxime.</p>    
    </div>
</body>

</html>