<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo de componentes cuadro de diálogo</title>    
    <script src="../../jsnode.js"></script>
    <script src="jsnode-dialog-101.js"></script>
    <script src="jsnode-dialog-noclose.js"></script>
    <script src="jsnode-dialog-close.js"></script>
    <script>
        JsNode.use$().domLoaded().then(() => {
            const d101 = new JsNodeDialog101('#d101');               
            const dNoClose = new JsNodeDialogNoClose('#dNoClose', {
                title: 'Preparando el entorno',
                content: 'Cargando todos los componentes, por favor espere, será solo un momento'
            });
            const dialogClose = new JsNodeDialogClose('#dialogClose');
            $('#showModal101').on('click', () => d101.showModal());
            $('#showModal102').on('click', () => {
                const maxTime = 23000;

                dNoClose.showModal({
                    title: `Quedan ${maxTime / 1000} seg`,
                    content: '',
                    timeout: maxTime,
                    type: 'danger'
                });

                let ms = 0;
                const timer = setInterval(() => {
                    ms += 1000;
                    dNoClose.updateOptions({
                        title: `Quedan ${(maxTime - ms) / 1000} seg`,
                        content: 'Terminando en breve...' + crypto.randomUUID()
                    })    
                    if (ms >= maxTime) clearInterval(timer);
                }, 1000);
            });
            $('#showDialogClose').on('click', () => dialogClose.show({
                title: 'Alerta',
                content: 'Hola Mundo, bla bla ppppppppppppp aaaaaaaaaaaaaaaaaaa qqqqqqqqqqqqqq',
                type: 'danger'
            }));
        });
    </script>
</head>
<body>
    <div id="d101">
        <button id="showModal101">Mostrar formulario modal</button>
    </div>    
    <hr>
    <div id="dNoClose">
        <button id="showModal102">Mostrar formulario modal que no se puede cerrar</button>
    </div>
    <hr>
    <div id="dialogClose">
        <button id="showDialogClose">Mostrar mensaje que se puede cerrar</button>        
    </div>
    <div>Texto de prueba para ver el comportamiento de los componentes</div>
</body>
</html>