<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo de componente JsNodeAccordion</title>    
    <script src="../../jsnode.js"></script>
    <script src="jsnode-accordion.js"></script>
    <script>
        JsNode.use$().domLoaded().then(() => {
            const a1 = new JsNodeAccordion('#a1');            
        });
    </script>
</head>

<body>
    <div id="a1"></div>
</body>

</html>